body {
  background: #f7f5ef;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
body h1,
body h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.asomas-container {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
section .row {
  margin-bottom: 0 !important;
}
.asomas-btn {
  color: #f7f5ef;
  background: #e39900 !important;
  border-radius: 25px;
  box-shadow: -5px 5px 0 0 #b67b00;
  height: 60px;
  line-height: 60px;
  margin: 1em;
  text-align: center;
  width: 200px;
  transition: all 0.15s !important;
}
.asomas-btn:hover {
  background: darker(#b67b00) !important;
  box-shadow: -5px 5px 0 0 #b67b00;
}
.asomas-btn-2 {
  color: #f7f5ef;
  background: #34d2c2;
  border-radius: 25px;
  box-shadow: -5px 5px 0 0 #1ba18a;
  height: 60px;
  line-height: 60px;
  margin: 1em;
  text-align: center;
  width: 200px;
  transition: all 0.15s !important;
}
.asomas-btn-2:hover {
  background: darker(#34d2c2);
  box-shadow: -5px 5px 0 0 #1ba18a;
}
.brown-btn {
  background: #bf7a00 !important;
}
.brown-btn:hover {
  background: darker(#bf7a00) !important;
}
.le-navigation {
  background: #f7f5ef !important;
  height: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
.le-navigation .row {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.le-navigation .row a {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 100px;
}
.le-navigation .row a img {
  height: 80px;
  width: auto;
}
.le-navigation .row div {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 100px;
}
.le-navigation .row div ul {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.le-navigation .row div ul li {
  background: #f7f5ef;
  cursor: pointer;
}
.le-navigation .row div ul li:hover {
  background: #f7f5ef;
}
.le-navigation .row div ul li a {
  background: #f7f5ef;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  color: #44c3b1;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.25s;
}
.le-navigation .row div ul li a:hover {
  color: #009a8c;
  background: #f7f5ef;
  border-bottom: 4px solid #f8ab00;
}
.le-navigation .row div ul li.current-menu-item a {
  color: #009a8c;
  background: #f7f5ef;
  border-bottom: 4px solid #f8ab00;
}
.main-menu {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-menu ul {
  width: 100%;
}
@media (max-width: 1300px) {
  .main-menu {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f7f5ef;
    height: 100vh !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    left: 0;
    position: fixed;
    top: -100vh;
    width: 100vw !important;
  }
  .main-menu ul {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-menu ul li {
    margin: 0;
    padding: 0;
  }
  .main-menu ul li a {
    height: 70px !important;
    line-height: 70px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .main-menu.active {
    top: 0;
  }
}
footer .footer-logos {
  padding: 8em 0;
}
footer .footer-logos .row {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0 !important;
}
footer .footer-logos .row h2 {
  color: #f7f5ef;
  font-size: 38px;
  margin: 0;
  text-transform: uppercase;
}
footer .footer-logos .row .footer-logos-images div {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}
footer .footer-logos .row .footer-logos-images div img {
  height: auto;
  margin: 0 2.5%;
  width: 15%;
}
footer .footer-newsletter {
  background: #e0a109;
  padding: 8em 0;
}
footer .footer-newsletter .row {
  margin-bottom: 0 !important;
}
footer .footer-newsletter .row .brown-btn {
  background: #e8b21a !important;
  box-shadow: none !important;
  width: 100%;
  height: 52.5px;
  line-height: 52.5px;
}
footer .footer-newsletter .row .newsletter-form {
  height: 295.77px;
}
footer .footer-newsletter .row .newsletter-donations {
  height: 295.77px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-newsletter .row h4 {
  color: #f7f5ef;
  font-weight: 700;
  font-size: 30px;
}
footer .footer-newsletter .row input {
  background: #f7f5ef;
  border: none !important;
  box-sizing: border-box;
  padding: 0.25em 1em;
  width: 100% !important;
}
footer .footer-newsletter .row input:active {
  border: none !important;
}
footer .footer-legal {
  background: #c87900;
}
footer .footer-legal a {
  color: #f7f5ef;
  font-weight: bold;
}
footer .footer-legal .row {
  margin-bottom: 0 !important;
}
footer .footer-legal p {
  color: #f7f5ef;
  margin: 0;
  padding: 0.75em 0;
  text-align: center;
}
.index-landing,
.landing-page {
  background-position: center center !important;
  background-size: cover !important;
  height: 600px;
}
.index-landing article,
.landing-page article {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  padding: 0;
}
.index-landing article h1,
.landing-page article h1 {
  color: #f7f5ef;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
.index-landing article p,
.landing-page article p {
  color: #f7f5ef;
  margin: 0;
  padding: 0 4em;
}
.index-landing article .the-buttons,
.landing-page article .the-buttons {
  margin-top: 2em;
}
.index-historia,
.page-content {
  background-position: center center !important;
  background-size: cover !important;
  height: auto;
}
.index-historia article,
.page-content article {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  margin: 3em 0;
  position: relative;
}
.index-historia article h2,
.page-content article h2 {
  color: #f7f5ef;
  margin: 0 0 20px;
  padding: 0;
}
.index-historia article div,
.page-content article div {
  overflow: auto;
  padding: 0 4em;
}
.index-historia article div p,
.page-content article div p {
  color: #f7f5ef;
  text-align: justify;
}
.index-acordeon {
  background-size: cover !important;
  color: #f7f5ef;
  padding: 3em 0;
}
.index-acordeon article {
  background: #f7f5ef;
  float: none !important;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  height: 40px;
  transition: height 0.25s ease-in-out;
}
.index-acordeon article.active {
  height: 200px;
}
.index-acordeon article:first-child.active {
  height: 300px;
}
.index-acordeon article:nth-child(2).active {
  height: 260px;
}
.index-acordeon article:nth-child(2).active .acordeon-text {
  height: 190px;
}
.index-acordeon article:last-child.active {
  height: 300px;
}
.index-acordeon article .acordeon-title {
  background: #44c3b1;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
}
.index-acordeon article .acordeon-title h3 {
  height: 40px;
  line-height: 40px;
  margin: 0 !important;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.index-acordeon article .acordeon-text {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #846f51;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
  height: 260px;
}
.index-acordeon article .acordeon-text p {
  padding: 0 4em !important;
  text-align: justify;
}
.index-acordeon article .acordeon-text ul {
  list-style-type: disc;
  margin-top: 35px;
  padding: 0 4em;
}
.index-acordeon article .acordeon-text ul li {
  list-style-type: disc;
  margin: 5px 0;
}
.index-acordeon article:nth-child(2) .acordeon-text p:first-child {
  margin-top: 45px;
}
.landing-page {
  height: 450px;
}
.landing-page article {
  height: 450px;
}
.landing-page-info h1 {
  text-align: center;
}
.page-content {
  background: url("../img/apoyo-info-bg.jpg") center top !important;
  background-size: 100% auto !important;
  background-repeat: repeat-y !important;
  padding: 4em 0;
}
.page-content.nuestro h2 {
  font-size: 20px;
}
.page-content article {
  margin: 0;
  padding: 0 4.5em;
  position: relative;
}
.page-content article h3,
.page-content article h4,
.page-content article h5 {
  color: #f7f5ef;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-content article ul {
  list-style-type: disc !important;
}
.page-content article ul li {
  color: #f7f5ef;
  list-style-type: disc !important;
  margin: 1em 0;
}
.page-content article p {
  color: #f7f5ef;
  line-height: 1.2;
  text-align: justify;
}
.page-content article p a {
  color: #44c3b1;
  text-decoration: underline;
}
.page-content article p a:hover {
  opacity: 0.75;
}
.page-content article img {
  padding: 0;
}
.page-content article img.aligncenter {
  height: auto;
  padding: 0;
  width: 100%;
}
.page-content article img.alignleft {
  float: left;
  margin: 0.5em 3em 0.5em 0;
}
.page-content article img.alignright {
  float: right;
  margin: 0.5em 0 0.5em 3em;
}
.page-content article table,
.page-content article tbody {
  width: 100%;
}
.page-content article table tr,
.page-content article tbody tr {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-content article table tr td,
.page-content article tbody tr td {
  margin: 1em 0;
  width: 50%;
}
.page-content article table tr td img,
.page-content article tbody tr td img {
  border: 3px solid #f7f5ef;
  box-sizing: border-box;
  height: auto;
  width: 100%;
}
.page-content article table tr td:last-child,
.page-content article tbody tr td:last-child {
  padding: 0 2em;
}
.page-content article .ecs-event-list {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.page-content article .ecs-event-list .ecs-event {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7f5ef;
  border: 3px solid #f7f5ef;
  color: #846f51;
  margin: 0 0 1.25em 0;
  padding: 1em;
  position: relative;
  transition: all 0.15s;
  width: 32%;
}
.page-content article .ecs-event-list .ecs-event:hover {
  border: 3px solid #846f51;
}
.page-content article .ecs-event-list .ecs-event .duration {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
.page-content article .ecs-event-list .ecs-event .duration em {
  opacity: 0.5;
}
.page-content article .ecs-event-list .ecs-event .duration.time {
  display: block;
  margin-top: 52px;
}
.page-content article .ecs-event-list .ecs-event .duration.time span {
  display: block;
  line-height: 1;
  margin: 0;
}
.page-content article .ecs-event-list .ecs-event .duration.venue {
  display: block;
  font-size: 12px;
  margin-top: 1em;
  text-align: center;
}
.page-content article .ecs-event-list .ecs-event .entry-title {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8ab00;
  color: #f7f5ef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 0;
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  width: 100%;
}
.page-content article .ecs-event-list .ecs-event .entry-title a {
  color: #f7f5ef;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-content article .ecs-event-list .ecs-event .entry-title:before {
  background: url("../img/calendar.svg") no-repeat center center;
  background-size: cover;
  color: transparent;
  content: 'as';
  height: auto;
  margin-right: 0.5em;
  width: 20px;
}
.page-content.informe,
.page-content.programa,
.page-content.calendario {
  background: url("../img/programa-info-bg.jpg") center top !important;
  background-size: 100% auto !important;
  background-repeat: repeat-y !important;
}
.galeria .gallery {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.galeria .gallery .gallery-item {
  border: 3px solid #f7f5ef;
  margin: 1em;
}
.galeria .bwg_standart_thumb_spun2_0 {
  border: 3px solid #f7f5ef !important;
  transition: all 0.25s;
}
.galeria .bwg_standart_thumb_spun2_0:hover {
  border: 3px solid #846f51 !important;
}
h1 {
  font-size: 50px !important;
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }
}
@media all and (max-width: 600px) {
  h1 {
    font-size: 30px !important;
  }
}
