body{
	background $color-white
	font-family $font
	font-size 16px
	h1, h2{
		font-weight 700
		text-transform uppercase
	}
}
.asomas-container{
	margin 0
	padding 0
	position relative
	z-index 1
}
section{
	.row{
		margin-bottom 0 !important
	}
}
.asomas-btn{
	color $color-white
	background $color-btn-naranja !important
	border-radius 25px
	box-shadow -5px 5px 0 0 $color-btn-naranja-black
	height 60px
	line-height 60px
	margin 1em
	text-align center
	width 200px
	transition all .15s !important
	&:hover{
		background darker($color-btn-naranja-black) !important
		box-shadow -5px 5px 0 0 $color-btn-naranja-black
	}
}
.asomas-btn-2{
	color $color-white
	background $color-btn-azul
	border-radius 25px
	box-shadow -5px 5px 0 0 $color-btn-azul-black
	height 60px
	line-height 60px
	margin 1em
	text-align center
	width 200px
	transition all .15s !important
	&:hover{
		background darker($color-btn-azul)
		box-shadow -5px 5px 0 0 $color-btn-azul-black
	}
}
.brown-btn{
	background $color-btn-sub !important
	&:hover{
		background darker($color-btn-sub) !important
	}
}