@import 'config/vars'
@import 'global'
@import 'sections/header'
@import 'sections/footer'
@import 'sections/home'
@import 'sections/pages'

h1{
	font-size 50px !important
	@media all and (max-width: 768px){
		font-size 40px !important
	}
	@media all and (max-width: 600px){
		font-size 30px !important
	}
}