footer{
	.footer-logos{
		// background orange
		padding 8em 0
		.row{
			align-items center
			display flex
			flex-direction column
			justify-content center
			margin-bottom 0 !important
			h2{
				color $color-white
				font-size 38px
				margin 0
				text-transform uppercase
			}
			.footer-logos-images{
				div{
					align-items center
					display flex
					flex-wrap wrap
					justify-content center
					margin-top 3em
					img{
						height auto
						margin 0 2.5%
						width 15%
					}
				}
			}
		}
	}
	.footer-newsletter{
		background #e0a109
		padding 8em 0
		.row{
			margin-bottom 0 !important
			.brown-btn{
				background $color-yellow !important
				box-shadow none !important
				width 100%
				height 52.5px
				line-height 52.5px
			}
			.newsletter-form{
				height 295.77px
			}
			.newsletter-donations{
				height 295.77px
				align-items center
				display flex
				flex-direction column
				justify-content center
			}
			h4{
				color $color-white
				font-weight 700
				font-size 30px
			}
			input{
				background $color-white
				border none !important
				box-sizing border-box
				padding .25em 1em
				width 100% !important
				&:active{
					border none !important
				}
			}
		}
	}
	.footer-legal{
		background #c87900
		a{
			color $color-white
			font-weight bold
		}
		.row{
			margin-bottom 0 !important
		}
		p{
			color $color-white
			margin 0
			padding .75em 0
			text-align center
		}
	}
}