.le-navigation{
	background $color-white !important
	height 100px
	margin 0
	padding 0
	position relative
	z-index 2
	.row{
		align-items center
		display flex
		justify-content center
		margin-bottom 0 !important
		padding 0 !important
		a{
			align-items center
			display flex
			height 100px
			justify-content center
			line-height 100px
			img{
				height 80px
				width auto
			}
		}
		div{
			align-items center
			display flex
			height 100px
			justify-content center
			line-height 100px
			ul{
				align-items center
				display flex
				justify-content flex-end
				li{
					background $color-white
					cursor pointer
					&:hover{
						background $color-white
					}
					a{
						background $color-white
						border-bottom 4px solid transparent
						box-sizing border-box
						color $color-green
						cursor pointer
						font-style italic
						font-weight bold
						text-transform uppercase
						transition all .25s
						&:hover{
							color $color-green-dark
							background $color-white
							border-bottom 4px solid $color-orange
						}
					}
					&.current-menu-item{
						a{
							color $color-green-dark
							background $color-white
							border-bottom 4px solid $color-orange
						}
					}
				}
			}
		}
	}
}
.main-menu{
	display-flex(center, center)
	ul{
		width: 100%;
	}
	@media (max-width: $m300){
		align-items center
		background $color-white
		height 100vh !important
		justify-content center !important
		left 0
		position fixed
		top -100vh
		width 100vw !important
		ul{
			display-flex(center, center)
			flex-direction column 
			li{
				margin 0
				padding 0
				a{
					height 70px !important
					line-height 70px !important
					margin 0 !important
					padding 0 !important
				}
			}
		}
		&.active{
			top 0
		}
	}
}