.index-landing, .landing-page{
	background-position center center !important
	background-size cover !important
	height 600px
	article{
		align-items center
		display flex
		flex-direction column
		justify-content center
		height 600px
		padding 0
		h1{
			color $color-white
			margin 0 0 20px
			padding 0
			text-transform uppercase
		}
		p{
			color $color-white
			margin 0
			padding 0 4em
		}
		.the-buttons{
			margin-top 2em
		}
	}
}
.index-historia, .page-content{
	background-position center center !important
	background-size cover !important
	height auto
	article{
		align-items center
		display flex
		flex-direction column
		justify-content center
		height auto
		// overflow auto
		margin 3em 0
		position relative
		h2{
			color $color-white
			margin 0 0 20px
			padding 0
		}
		div{
			overflow auto
			padding 0 4em
			p{
				color $color-white
				text-align justify
			}
		}
	}
}
.index-acordeon{
	background-size cover !important
	color $color-white
	padding 3em 0
	article{
		background $color-white
		float none !important
		margin 0 !important
		overflow hidden
		padding 0 !important
		height 40px
		transition height .25s ease-in-out
		&.active{
			height 200px
		}
		&:first-child{
			&.active{
				height 300px
			}
		}
		&:nth-child(2){
			&.active{
				height 260px
				.acordeon-text{
					height: 190px
				}
			}
		}
		&:last-child{
			&.active{
				height 300px
			}
		}
		.acordeon-title{
			background $color-green
			cursor pointer
			height 40px
			overflow hidden
			h3{
				height 40px
				line-height 40px
				margin 0 !important
				text-align center
				font-size 20px
				text-transform uppercase
			}
		}
		.acordeon-text{
			align-items center
			color $color-brown
			display flex
			flex-direction column
			justify-content center
			padding 0 !important
			margin 0 !important
			height 260px
			p{
				// margin 0 !important
				padding 0 4em !important
				text-align justify
				// &:first-child{
				// 	margin-top 50px
				// }
			}
			ul{
				list-style-type disc
				margin-top 35px
				padding 0 4em
				li{
					list-style-type disc
					margin 5px 0 
				}
			}
		}
		&:nth-child(2){
			.acordeon-text{
				p{
					&:first-child{
						margin-top 45px
					}
				}
			}
		}
	}
}