.landing-page{
	height 450px
	article{
		height 450px
	}
}
.landing-page-info{
	h1{
		text-align center
	}
}
.page-content{
	background url('../img/apoyo-info-bg.jpg') center top !important
	background-size 100% auto !important
	background-repeat repeat-y !important
	padding 4em 0
	&.nuestro{
		h2{
			font-size 20px
		}
	}
	article{
		margin 0
		padding 0 4.5em
		position relative
		h3, h4, h5{
			color $color-white
			font-size 20px
			font-weight bold
			text-transform uppercase
		}
		ul{
			list-style-type disc !important
			li{
				color $color-white
				list-style-type disc !important
				margin 1em 0
			}
		}
		p{
			color $color-white
			line-height 1.2
			text-align justify
			a{
				color $color-green
				text-decoration underline
				&:hover{
					opacity .75
				}
			}
		}
		img{
			padding 0
			&.aligncenter{
				height auto
				padding 0
				width 100%
			}
			&.alignleft{
				float left
				margin .5em 3em .5em 0
			}
			&.alignright{
				float right
				margin .5em 0 .5em 3em 
			}
		}
		// blockquote{
		// 	margin-bottom
		// }
		table, tbody{
			width 100%
			tr{
				align-items flex-start
				display flex
				justify-content center
				td{
					margin 1em 0
					width 50%
					img{
						border 3px solid $color-white
						box-sizing border-box
						height auto
						width 100%
					}
					&:last-child{
						padding 0 2em
					}
				}
			}
		}
		.ecs-event-list{
			align-items flex-start
			display flex
			flex-wrap wrap
			justify-content space-between
			width 100%
			.ecs-event{
				align-self stretch
				align-items center
				display flex
				flex-direction column
				justify-content center
				background $color-white
				border 3px solid $color-white
				color $color-brown
				margin 0 0 1.25em 0
				padding 1em
				position relative
				transition all .15s 
				width 32%
				&:hover{
					border 3px solid $color-brown
				}
				.duration{
					font-size 14px
					font-style italic
					text-align center
					text-transform uppercase
					em{
						opacity .5
					}
					&.time{
						display block
						margin-top 52px
						span{
							display block
							line-height 1
							margin 0
						}
					}
					&.venue{
						display block
						font-size 12px
						margin-top 1em
						text-align center
					}
				}
				.entry-title{
					align-items center
					background $color-orange
					color $color-white
					display flex
					justify-content flex-start
					left 0
					margin 0 0 1em 0
					padding .5em 1em
					position absolute
					top 0
					width 100%
					a{
						color $color-white
						font-size 16px
						font-weight 400
						overflow hidden
						text-overflow ellipsis
						white-space nowrap
					}
					&:before{
						background url('../img/calendar.svg') no-repeat center center
						background-size cover
						color transparent
						content 'as'
						height auto
						margin-right .5em
						width 20px
					}
				}
			}
		}
	}
	&.informe,
	&.programa,
	&.calendario{
		background url('../img/programa-info-bg.jpg') center top !important
		background-size 100% auto !important
		background-repeat repeat-y !important
	}
}
.galeria{
	.gallery{
		align-items center
		display flex
		flex-wrap wrap
		justify-content center
		.gallery-item{
			border 3px solid $color-white
			margin 1em
		}
	}
	.bwg_standart_thumb_spun2_0{
		border 3px solid $color-white !important
		// box-shadow 0 0 5px rgba(black, .5) !important
		transition all .25s
		&:hover{
			border 3px solid $color-brown !important
			// box-shadow 0 0 50px rgba(black, .5) !important
		}
	}
}