$color-white = #f7f5ef
$color-green = #44c3b1
$color-brown = #846f51
$color-orange = #f8ab00
$color-yellow = #e8b21a
$color-green-dark = #009a8c
$color-orange-dark = #b47a00
$color-yellow-dark = #e0a109
$color-btn-naranja = #e39900
$color-btn-naranja-black = #b67b00
$color-btn-azul = #34d2c2
$color-btn-azul-black = #1ba18a
$color-btn-sub = #bf7a00

$font = 'Open Sans', sans-serif
$m300 = 1300px

display-flex(vertical, horizontal)
	align-items vertical
	display flex
	justify-content horizontal